<div class="d-none" data-popover-target="genre">
  <%= form_tag update_instrument_path, :method => :patch do |f|%>
  <%= select_tag :instrument, options_for_select(instrument.all.map { |el| [el.name, el.id] })%>
  <%= submit_tag "Update instrument..." %>
  <% end %>
</div>
