<h1>Hello from profiles#index</h1>

<div >
      <button class="btn btn-primary" data-controller='switch' data-action="click->switch#fire1">List</button>
      <button class="btn btn-outline-primary" data-controller='switch'>Map</button>
</div>

<div class="title-ctr">
<h1>jamsters for you</h1>
</div>

<div data-switch-target="switchOne">
<% @profiles.each do |user| %>
  <%= link_to profile_path(user) do %>
    <%= render "layouts/user_summary", user: user %>
  <% end %>
<% end %>
</div>

<div class="d-none">

<%= render "layouts/mapbox" %>

</div>
