<div class="full-height-flex-col" data-controller='switch-btn'>
  <div class="profiles-sticky">
    <div class="card-img-top d-flex flex-column justify-content-start align-items-center banner-index" style="background-image: url('http://res.cloudinary.com/drxcsc3ye/image/upload/v1693476762/purple_background.png');">
      <div class="pt-7">
        <%= render 'layouts/search_form' %>
      </div>
    </div>
    <div class="profiles-view-selector">
          <button class="btn btn-primary col-4 me-5" data-switch-btn-target="switch3" data-action="click->switch-btn#fire2">Map</button>
          <button class="btn btn-outline-primary col-4" data-switch-btn-target="switch4" data-action="click->switch-btn#fire1">List</button>
    </div>
  </div>
  <div class="h-100">
    <div class="container full-height-flex-col pb-4" style="overflow: scroll;">
      <div class="title-center">
        <h1>jamsters for you</h1>
      </div>
      <div class="d-none" data-switch-btn-target="switch2">
        <% if @profiles.empty? %>
          <div class="title-center">
            <h3>Matches not found</h3>
          </div>
        <% else %>
          <% @profiles.each do |user| %>
            <%= link_to profile_path(user) do %>
              <%= render "layouts/user_summary", user: user %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="h-100" data-switch-btn-target="switch1">
        <% if @profiles.empty? %>
          <div class="title-center">
            <h3>Matches not found</h3>
          </div>
        <% else %>
          <%= render "layouts/mapbox" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
