<h1>Hello from profiles#index</h1>

<% @profiles.each do |user| %>
  <%= link_to profile_path(user) do %>
    <%= render "layouts/user_summary", user: user %>
  <% end %>
<% end %>


<%= render "layouts/mapbox" %>
