<%= tag.div class: "container chat d-flex flex-column justify-content-between h-100 flex-grow-1", data: { controller: "chats", chats_url_value: @chatroom ? chat_path(@chatroom) : "", chats_subscriber_id_value: current_user.id } do %>
<div class="col-12 flex-grow-1 align-content-start" style="overflow-y: scroll;" data-chats-target="chatlist">
    <%= turbo_stream_from "user_#{current_user.id}_chatrooms" %>
    <ul id="chatrooms" class="col-12 chat-list d-flex list-group list-group-flush px-3"%>
    <%= render @chatrooms, current: current_user %>
    </ul>
  </div>
  <%= turbo_frame_tag "chatbox", class: "col-12 chatbox d-flex flex-column h-100 flex-grow-1 d-none", data: { chats_target: "chatbox", action: "turbo:frame-load->chats#toggle" }, src: @chatroom ? chat_path(@chatroom.id) : ""  do %>
  <% end %>
<% end %>
