<div class="row min-vh-100 chat" data-controller="chats" style="overflow: hidden;">
  <div class="col-2 chat-list border-right" style="overflow-y: scroll;">
    <% @chatrooms.each do |chat| %>
      <div class="chat-head position-relative">
        <%= image_tag(User.find((chat.participant_ids-[current_user.id]).first).avatar_url, class: "avatar") %>
        <%= link_to "Chat##{chat.id}", chat_path(chat.id), data: { action: "click->chats#display"}, class: "stretched-link" %>
      </div>
    <% end %>
  </div>
  <div class="col-10 chatbox" data-chats-target="chatbox">
  </div>
</div>
