<div class="container">
  <div class="container navbar sticky-top navbar-light navbar-lewagon">
    <div class="container-fluid align-items-start mx-1">
      <h2 class="navbar-brand text-primary pt-4"><%= link_to "jamfinder", root_path %></h2>
      <div>
        <div class="mt-2">
          <%= link_to new_user_session_path do %>
            <i class="fa-solid fa-user nav-item pt-3 pe-4"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
