<%= cl_image_tag("purple_background", width: 400, height: 300, crop: :fill) %>

<div class="container">
  <hr class="py-2">
  <h1>local jamsters</h1>
  <% @profiles.each do |profile| %>
    <%= render "layouts/user_summary", user: profile %>
  <% end %>
</div>
