
<div class="card-img-top d-flex flex-column justify-content-start align-items-center" style="background-image: url('http://res.cloudinary.com/drxcsc3ye/image/upload/v1693476762/purple_background.png');">
  <div style="height:15vh; width: 100vh;"></div>
  <div class="pt-5">
    <%= render 'profiles/search_form' %>
  </div>
</div>
<div class="container pt-3">
  <hr class="py-2">
  <h1>local jamsters</h1>
  <% @profiles.each do |profile| %>
    <%= render "layouts/user_summary", user: profile %>
  <% end %>
</div>
