.chat {
  overflow: scroll;
}

.chat-list-summary, .chat-list-timestamps {
  padding-left: 0.5rem;

  h4 {
    font-size: 2rem;
  }
  p {
    font-size: 1.6rem;
  }
}

.chat::-webkit-scrollbar, .chat-list::-webkit-scrollbar, .messages::-webkit-scrollbar{
    display: none;
  }

.chatroom {
  height: 100%;
  padding-bottom: 20px;

  h2 {
    font-size: 2.4rem;
  }
}

.messages {
  overflow: scroll;
}

.message-timestamp {
  color: $secondary;
  font-size: 1.5rem;
  bottom: -2.0rem;
}

.message-header {
  background-color: $primary;
}

.message-row {
  margin-bottom: 1.8rem;
}

.message {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  font-family: $body-font;
}

.message-content {
  font-size: 1.8rem;
}

.sender-style {
  color: $primary;
  background-color: $secondary;
  max-width: 60%;
  text-align: end;
  .message-timestamp {
    position: absolute;
    right: 1.0rem;
  }
}

.receiver-style {
  color: $primary;
  background-color: $accent;
  max-width: 60%;
  .message-timestamp {
    position: absolute;
    left: 1.0rem;
  }
}

.message-input {
  background-color: $primary;
  align-items: center;
}

/* The Modal (background) */
.jam-modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  align-items: center;
  background-color: $primary;
  margin: 70% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 0.9rem;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  align-self: end;
  padding: 2px;
}

.btn-make-jam {
  border-top: .7rem solid $accent;
  border-radius: .3rem;
  box-shadow: .1rem .05rem .3rem $body-color;
  padding: .4rem 1.4rem;
  margin-right: 1rem;
  h2 {
    color: $accent !important;
  }
}
