.chat {
  height: 89vh;
  max-height: 89vh;
  overflow: scroll;
}

.chat::-webkit-scrollbar, .chat-list::-webkit-scrollbar, .messages::-webkit-scrollbar{
    display: none;
  }

.messages {
  min-height: 74vh;
  max-height: 74vh;
  overflow: scroll;
}

.message-header {
  background-color: $secondary;
}

.message-row {
  margin-bottom: 1.8rem;
}

.message {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  padding: 10px;
  position: relative;
  font-family: $body-font;
}

.message-content {
  font-size: 1.8rem;
}


.sender-style {
  color: $secondary;
  background-color: $accent;
  .message-timestamp {
    position: absolute;
    right: 10px;
    bottom: -15px;
    color: $gray;
    font-size: 10px;
  }
}

.receiver-style {
  color: $secondary;
  background-color: #474345;
  .message-timestamp {
    position: absolute;
    left: 10px;
    bottom: -15px;
    color: $gray;
    font-size: 10px;
  }
}

.message-input {
  background-color: $secondary;
  align-items: center;
}
