.navbar-lewagon {
  justify-content: space-between;
  background: $primary;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

a {
  color: $accent;
  font-size: 2.4rem;
}

.dropdown-item {
  text-align: end !important;
  font-size: 2rem;
  padding-top: 1rem;
}
