// External libraries
@import "bootstrap";
@import "font-awesome";

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "chats/index";

// application-wide scss overrides
html {
  font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    justify-content: space-between;
}

a {
  text-decoration: none;
}

.sticky-class {
  position:sticky;
  top:50px;
  width:100%;
  z-index: 1020;
  justify-content: flex-start;
}

.sticky-class-2 {
  z-index: 1010;
}

.scrollable {
  overflow: scroll;
  height: 70rem;
  body {
    display: revert;
    flex-direction: revert;
    height: revert;
    min-height: revert;
    justify-content: revert;
  }
}

.banner-index{
  height: 90px;
}

.mapboxgl-render{
  visibility: none;
}

.container {
  max-width: 45rem;
}
