<div class="pt-3 pb-2">
  <%= form_with url: profiles_path, method: :get, data: { controller: "searchform toggle" } do %>
    <div class="d-flex align-items-center">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search profiles..." %>

      <div class="btn" data-action="click->toggle#fire">
        <i class="fa-solid fa-sliders text-search"></i>
      </div>
    </div>
    <div class="slider-distance d-flex p-2 mt-4 d-none align-items-center" data-toggle-target="togglableElement">
      <span class="flex-shrink-0 text-search">Max Distance:</span>
      <%= range_field_tag :distance,
        params[:distance],
        class: "form-range px-2 text-search",
        data: { action: "change->searchform#fire", searchform_target: "rangeInput" }
      %>
    <div class="flex-shrink-0 text-search" >
      <span data-searchform-target="rangeText"></span>
    </div>
    <%= submit_tag "Search", name: "", class: "d-none" %>
    </div>
  <% end %>
</div>
