<div>
  <div>

  </div>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <% if current_user == @profile %>
        <div class="swiper-slide row">
          <i class="swiper-slide"> <%= render "imageform", user: @profile %> </i>
        </div>
      <% end %>
      <% @profile.cl_images.reverse().each do |image| %>
        <i class="images_cloudinary swiper-slide"><%= cl_image_tag(image.key, class:"images_cloudinary", crop: :fill) %> </i>
      <% end %>
    </div>
  </div>
</div>
