<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide imageFirst"></div>
    <div class="swiper-slide imageSecond"></div>
    <div class="swiper-slide imageThird"></div>
    <div class="swiper-slide imageFourth"></div>
    <div class="swiper-slide imageFith"></div>
  </div>
  <div class="swiper-pagination"></div>
</div>
