<div>
  <% if current_user == @profile %>
    <i class="a-solid fa-plus icon-resize images_cloudinary" data-action="click->popover#image"></i>
    <%# <%= render "imageform" %> %>
  <% end %>
</div>
<%= if user.images.present? %>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <% user.images.each do |image| %>
        <%# <i class="images_cloudinary swiper-slide"><%= cl_image_tag(image.photo.key, width: 100px !important, height: 100px !important, crop: :fill) %></i> %>
      <% end %>
      <div class="swiper-slide imageFirst"></div>
      <div class="swiper-slide imageSecond"></div>
      <div class="swiper-slide imageThird"></div>
      <div class="swiper-slide imageFourth"></div>
      <div class="swiper-slide imageFith"></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
<% end %>
