<div class="d-flex align-items-center side-scroll">
  <% if current_user == @profile %>
    <i class="profile-tags fa-solid fa-plus icon-resize" id="size2" data-action="click->popover#genre"></i>
    <%= render "genreform" %>
  <% end %>
  <% @profile.genres.each do |genre| %>
    <p class="profile-tags"><%= "##{genre.name}"%></p>
  <% end %>
</div>
