<div>
  <div>
    <% if current_user == @profile %>
      <i class="fa-solid fa-plus images_cloudinary" data-action="click->popover#images"></i>
      <%= render "imageform", user: @profile %>
    <% end %>
  </div>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <% @profile.cl_images.each do |image| %>
        <i class="images_cloudinary swiper-slide"><%= cl_image_tag(image.key, width: 100, height: 100, crop: :fill) %> </i>
      <% end %>

      <div class="swiper-slide imageFirst"></div>
      <div class="swiper-slide imageFirst"></div>
      <div class="swiper-slide imageFirst"></div>
      <div class="swiper-slide imageFirst"></div>
      <div class="swiper-slide imageFirst"></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<script>

</script>
