<div>
  <div>

  </div>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <% if current_user == @profile %>
          <i class="swiper-slide"> <%= render "imageform", user: @profile %> </i>
        <% end %>
      </div>
      <% @profile.cl_images.reverse().each do |image| %>
        <i class="images_cloudinary swiper-slide"><%= cl_image_tag(image.key, class:"images_cloudinary", crop: :fill) %> </i>
      <% end %>
    </div>
    <div class="swiper-pagination final-1"></div>
  </div>
</div>
